@import "variables"; 

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: $font-family;
  line-height: 1.5;
  background-color: #444;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  min-width: 100%;
  width: 500px;
  padding: 0.75em 1.5em;
  text-align: left;
  font-size: 1em;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 34px;
  box-shadow: inset 0px 0px 5px 0px rgba(171, 171, 171, 0.19);
  color: #444;
  &:focus {
    border: 1px solid lighten($header-bg, 10%);
    outline: 0;
  }
}
.container {
  max-width: 500px;
  padding-top: 250px;
  margin: 0 auto;
}
.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.5em;
  margin: 0;
  text-align: center;
  background-color: $header-bg;
  box-shadow: 0px 0px 10px 0px rgba(16, 16, 16, 0.64);
  z-index: 1;
  h1 {
    font-size: 2.5em;
    color: #fff;
    margin: 0.25em;
    line-height: 1.2;
  }
  a {
    text-decoration: underline;
  }
  p {
    margin: 0;
  }
}
.search {
  margin-top: 1.5em;
}
.http-status-code__list {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 0;
}
.status-code__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 4em;
  margin: 2em;
  box-shadow: 0px 0px 10px 0px rgba(16, 16, 16, 0.64);
  text-align: center;
  background-color: #fff;
  h3 {
    margin: 0.2em;
    font-size: 3em;
  }
  p {
    margin: 0.5em;
    a {
      color: #888;
    }
  }
}

.fade-enter {
  opacity: 0.01;
  transition: opacity .2s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

@media only screen and (max-width: 480px) {
  .header {
    position: relative;
  }
  .container {
    padding-top: 0px;
  }
}